.navbar {background-color: #929292;
        //float: left;
        //padding: 2em;
        align-items: center;
        display: flex;
        //height: 8em;
        //width: 100%;
      }


.nav-item{

  height: 5em;
  padding: 1em;
  text-decoration: none;
  flex: 1;
}

.nav-item.nav-word{
  margin-left: auto;
  justify-content: space-around;
  display: flex;
  align-items: center;
  padding: 1em;
  text-decoration: none;
  color: black;
}
.nav-item img{
  flex: 1;
  max-height: 5em;
}
